 body{
    font-family:Arial,sans-serif;
    background-color:#f0f2f5;
    margin:0;
    padding:0;
 }
 .resume{
    width:800px;
    margin:20px auto;
    background:white;
    padding:20px;
    border-radius:8px;
 }
 .header{
    position:relative;
 }
 h1{
    margin:0;
    color:#2c3e50;
    text-align:center;
    text-decoration:underline;
 }
 .contact{
    margin-top:10px;
 }
 .photo{
    width:150;
    height:150;
    position:absolute;
    right:20px;
    top:20px;
    border-radius:10px;
 }
 .Section{
    background-color:#ccc;
    color:black;
    text-align:center;
    font-weight: bold;
    margin-top:20px;
    font-size:22;
 }
 ul{
    margin-left:20px;
    line-height:1.8;
 }
 table{
    width:100%;
    border-collapse:collapse;
 }
 table,th,td{
    border:1px solid #ccc;
 }
 th{
    background-color:#f7f7f7;
 }
 th,td{
    padding:10px;
    text-align:left;
 }
 .footer{
    text-align:center;
    margin-top:20px;
    color:gray;
 }
